<launch>

    <!-- Run grab server -->
    <include file="$(find team_203)/launch/grab_app.launch" />

    <!-- Run grab monitor -->
    <include file="$(find team_203)/launch/grab_monitor.launch" />

    <!-- Run wpb_home_grab_client node -->
    <node name="wpb_home_mani_ctrl_mod" pkg="team_203" type="wpb_home_grab_client_mod"  output="screen"/>

</launch>
